@charset "UTF-8";
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
}
body {
	margin: 0;
}
article, footer, header, main {
    display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    color: black;
}
h1 {
    font-size: 1.1em;
    letter-spacing: .2em;
}
h2 {
    font-size: 1em;
}
ul, ol {
    list-style: none;
}
html {
    font-family: 'Arial MT', sans-serif;
    font-weight: bold;
    position: relative;
    height: 100%;
    font-size: 62.5%;
    line-height: 1.6;
    min-width: 320px;
}
body {
    min-height: 100%;
    font-size: 1.6rem;
    letter-spacing: .08em;
}
a {
    color: black;
    text-decoration: none;
}
.alignleft {
    float: left;
    margin-right: 30px;
}
.alignright {
    float: right;
    margin-left: 30px;
}
.header, .menu-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    color: #000;
    background-color: rgba(255,255,255,1);
}
.header>.container, .menu-header>.container {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: none;
}
.header>.container>.inner, .menu-header>.container>.inner {
    position: relative;
    height: 56px;
    width: 100%;
}
a.header-title {
    display: inline-block;
    padding-top: .9em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    line-height: 40px;
    letter-spacing: .25em;
    -webkit-transition: color .25s;
    transition: color .25s;
}
.header-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    display: none;
}
body.page-template-page-homepage-top .header-border {
    display: none;
}
.content {
    padding: 56px 0 0;
    text-align: center;
}
.container {
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
}
.home .block-image {
    position: relative;
    overflow: hidden;
    text-align: left;
}
.home .content {
    text-align: left;
}
.home img {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    min-width: 100%;
    height: auto;
    left: 60%;
    transform: translateX(-60%);
} 
body.window--portrait.home img {
    height: 100%;
    width: auto;
}
.mobile body.window--landscape.home img {
    width: 100%;
    height: auto;
}
#image-clipper {
    position: absolute;
    clip: rect(auto, auto, auto, auto);
    left: 0;
    top: 56px;
    right: 0;
    bottom: 0;
}
.about {
    position: static;
    float: none;
    text-align: center;
    overflow: auto;
    margin: 1em 0;
}
.about-text {
    float: left;
    width: 100%;
    margin: 5.88235% 0;
}
.about-thumbnail img {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: auto;
}
.image-top img {
    position: fixed;
    top: 0;
}
.image-bottom img {
    position: fixed;
    bottom: 0;
}
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: -9999;
    clip: rect(auto, auto, auto, auto);
    -webkit-transition: z-index 0s .3s, visibility .3s, height .3s, top .3s;
    transition: z-index 0s .3s, visibility .3s, height .3s, top .3s;
}
.menu--visible .menu {
    z-index: 11000;
    width: 100%;
    height: 100%;
    visibility: visible;
    -webkit-transition: visibility .3s, height .3s, top .3s;
    transition: visibility .3s, height .3s, top .3s;
}
.menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
}
.menu-container {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.menu-nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.menu-nav>ul {
    font-size: 1.1em;
}
.menu-nav>ul>li+li {
    margin-top: .4em;
}
.menu-nav>ul>li>a, .error404-content>a {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    line-height: 40px;
    height: 40px;
    text-indent: .25em;
    -webkit-transition: color .25s;
    transition: color .25s;
}
.menu-nav>ul>li>a {
    letter-spacing: .25em;
}
.menu-nav a::after, .error404-content a::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 2px;
    height: 2px;
    background: #000;
    visibility: hidden;
    -webkit-transition: left .25s, right .25s, visibility 0s .25s;
    transition: left .25s, right .25s, visibility 0s .25s;
}
.menu-header {
    position: fixed;
    background: transparent;
    box-shadow: none;
    visibility: visible;
    -webkit-transition: visibility 0s .3s, opacity .3s .3s;
    transition: visibility 0s .3s, opacity .3s .3s;
    -webkit-animation: none;
    animation: none;
    color: black;
}
.menu-header a {
    color: black;
}
.menu-toggle {
    z-index: 20000;
    position: fixed;
    top: 11px;
    right: 4px;
    display: block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    background-color: transparent;
    background-image: none;
    border: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.home .menu-toggle, .error404 .menu-toggle {
    top: 11px;
}
.menu-toggle .icon-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -7px;
    width: 22px;
    height: 14px;
    box-shadow: none;
    display: block;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.215, .61, .355, 1);
    transition: transform .25s cubic-bezier(.215, .61, .355, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu-toggle .icon-bar {
    background-color: #000;
    display: block;
    width: 22px;
    height: 2px;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.215, .61, .355, 1);
    transition: transform .25s cubic-bezier(.215, .61, .355, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.menu-toggle .icon-bar:first-child {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
.menu-toggle .icon-bar:last-child {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}
.menu--visible .menu-toggle {
    position: fixed;
    opacity: 1!important;
    filter: alpha(opacity=100);
    -webkit-transform: rotateX(0deg)!important;
    transform: rotateX(0deg)!important;
    visibility: visible!important;
    -webkit-animation: none!important;
    animation: none!important;
}
.menu--visible .menu-toggle .icon-menu {
    background: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu--visible .menu-toggle .icon-bar {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 24px;
    background: #000!important;
}
.no-cssfilters .menu--visible .menu-toggle .icon-bar {
    background: #000!important;
}
.menu--visible .menu-toggle .icon-bar:first-child {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotate(45deg) translate3d(2px, -5px, 0);
    transform: rotate(45deg) translate3d(2px, -5px, 0);
}
.menu--visible .menu-toggle .icon-bar:last-child {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotate(-45deg) translate3d(2px, 5px, 0);
    transform: rotate(-45deg) translate3d(2px, 5px, 0);
}
.menu--visible .menu-toggle. .icon-menu {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-menu-name {
    display: inline-block;
    float: right;
    padding-right: 36px;
    padding-top: 1.3em;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    color: black;
    letter-spacing: .2em;
    -webkit-transition: color .25s;
    transition: color .25s;
    visibility: hidden;
}
.header-menu-name h2 {
    display: block;
    font-size: 1em;
    letter-spacing: .2em;
}
.header-menu-name a {
    display: block;
    position: relative;
}
.header-menu-name a::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1px;
    height: 2px;
    background: #000;
    visibility: hidden;
    -webkit-transition: left .25s, right .25s, visibility 0s .25s;
    transition: left .25s, right .25s, visibility 0s .25s;
}
.header-menu-name a.is-hovered:after, .menu-nav a.is-hovered:after, .menu-nav a.is-clicked:after, .error404-content a.is-hovered:after, .error404-content a.is-clicked:after {
    visibility: visible;
    left: 0;
    right: 0;
    -webkit-transition: left .25s, right .25s;
    transition: left .25s, right .25s;
}
.header-nav {
    display: none;
    float: right;
    margin-top: 50px;
    vertical-align: middle;
    font-size: 1em;
    letter-spacing: .2em;
}
.header-nav>ul>li {
    float: left;
}
.header-nav>ul>li+li {
    margin-left: 1.5em;
}
.header-nav a {
    display: block;
    position: relative;
}
.header-nav a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    background: #000;
    visibility: hidden;
    -webkit-transition: left .25s, right .25s, visibility .25s;
    transition: left .25s, right .25s, visibility .25s;
}
.header-nav a.is-hovered:after {
    visibility: visible;
    left: 0;
    right: 0;
}
.article {
    position: static;
    float: none;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 8%;
}
.post-date {
    font-size: .3em;
}
.article h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}
.thumbnail-img {
    margin: 1em 0;
}
.article img {
    max-width: 100%;
    height: auto;
}
.article p {
    margin: 1.5em 0;
}
.gallery-item {
    margin: 10%;
}
.single .portfolio {
    float: none;
    text-align: center;
}
.single-portfolio img {
    margin-top: 5.88235%;
    margin-bottom: 5.88235%;
    max-width: 100%;
    height: auto;
}
.portfolio h1 {
    letter-spacing: .1em;
    padding: 18px 0;
}
.footer-wrapper {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: none;
}
.footer-wrapper>.container {
    height: 100%;
    max-width: none;
}
.footer-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
}
.post {
    position: relative;
    float: left;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    margin-top: 20px;
}
.post-thumbnail {
    position: relative;
    overflow: hidden;
}
.post-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    z-index: 3;
}
.post-info-inner {
    margin: auto;
    padding: 5px 15px;
}
.post-info-inner h2 {
    font-size: 1.2em;
    padding-bottom: 5px;
}
.post-info-inner p {
    font-size: 0.8em;
}
.post-info:hover {
    opacity: 1;
}
.post img {
    max-width: 700px;
    width: 100%;
    height: auto;
}
.masonry {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.masonry .gutter-sizer {
    width: 0;
}
.masonry .post {
    visibility: hidden;
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
.masonry.is-masonry--init .post {
    visibility: visible;
}
body.page-template-page-contact .content, body.page-template-page-contact .main, body.error404 .content, body.error404 .main {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
}
.contact, .error404-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0 16px;
}

@media(min-width:480px) {
    /*! Wider than 480px */}
@media(min-width:512px) {
    /*! Wider than 768px */h1 {
    font-size: 1.2em;
}
.header-menu-name {
    visibility: visible;
}
.post-date {
    font-size: .4em;
}
.article h2 {
    font-size: 1.2em;
}
}

@media(min-width: 640px) {
    /*! Wider than 1014px */
.header>.container, .menu-header>.container {
    height: 88px;
    padding-left: 24px;
    padding-right: 24px;
}
.header>.container>.inner, .menu-header>.container>.inner {
    height: 88px;
}
a.header-title {
    padding-top: 1.7em;
}
h1 {
    font-size: 1.5em;
}
.header-menu-name {
    padding-top: 34px;
    padding-right: 56px;
    visibility: visible;
}
.menu-toggle {
    top: 18px;
    right: 10px;
    width: 56px;
    height: 56px;
}
.home .menu-toggle, .error404 .menu-toggle {
    top: 16px;
}
.menu-toggle .icon-menu {
    margin-left: -14px;
    margin-top: -9px;
    width: 28px;
    height: 18px;
}
.menu-toggle .icon-bar {
    width: 28px;
    height: 2px;
}
.menu-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}
.menu--visible .menu-toggle {
    border: none;
    background: none;
}
.menu--visible .menu-toggle .icon-menu {
    background: none;
}
.menu--visible .menu-toggle .icon-bar {
    width: 29px;
    background: #000!important;
}
.no-cssfilters .menu--visible .menu-toggle .icon-bar {
    background: #000!important;
}
.menu--visible .menu-toggle .icon-bar:first-child {
    -webkit-transform: rotate(45deg) translate3d(1px, -5px, 0);
    transform: rotate(45deg) translate3d(1px, -5px, 0);
}
.menu--visible .menu-toggle .icon-bar:last-child {
    -webkit-transform: rotate(-45deg) translate3d(2px, 4px, 0);
    transform: rotate(-45deg) translate3d(2px, 4px, 0);
}
#image-clipper {
    top: 88px;
}
.content {
    padding: 88px 0 0;
}
body.page-template-page-contact .content, body.error404 .content {
    padding: 0;
}
.container {
    padding-left: 60px;
    padding-right: 60px;
}
.portfolio h1 {
    padding: 20px 0;
    letter-spacing: .15em;
}
.post {
    float: left;
    width: 37%;
    margin: 0 5%;
    margin-bottom: 10%;
}
.masonry{
    max-width: none;
}
.masonry .gutter-sizer {
    width: 6%;
}
.menu-nav>ul {
    font-size: 1.2em;
}
.menu-nav>ul>li+li {
    margin-top: .6em;
}
.menu-nav>ul>li>a {
    line-height: 48px;
    height: 48px;
}
.post-date {
    font-size: .7em;
}
.article h2 {
    font-size: 1.4em;
}
}
@media(min-width:768px) {
    /*! Wider than 1500px */}
@media(min-width: 800px) {
    /*! Wider than 1500px */}
@media(min-width: 896px) {
    /*! Wider than 1500px */
a.header-title {
    padding-top: 2.6em;
}
h1 {
    font-size: 1.7em;
}
.header>.container, .menu-header>.container {
    height: 120px;
    padding-left: 32px;
    padding-right: 32px;
}
.header>.container>.inner, .menu-header>.container>.inner {
    height: 120px;
}
a.header-title {
    top: 18px;
    line-height: 40px;
}
.header-menu-name {
    font-size: 1em;
    padding-top: 50px;
    padding-right: 64px;
}
.header-nav {
    display: inline-block;
}
.menu-toggle {
    top: 28px;
    right: 16px;
    width: 64px;
    height: 64px;
}
.home .menu-toggle, .error404 .menu-toggle {
    top: 28px;
    visibility: hidden;
}
.menu-toggle .icon-menu {
    margin-left: -16px;
    margin-top: -10px;
    width: 32px;
    height: 20px;
}
.menu-toggle .icon-bar {
    width: 32px;
    height: 2px;
}
.menu-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}
.menu--visible .menu-toggle .icon-bar {
    width: 32px;
}

#image-clipper {
    top: 120px;
}
.content {
    padding: 120px 0 0;
}
body.page-template-page-contact .content, body.error404 .content {
    padding: 0;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
.portfolio h1 {
    padding: 25px 0;
    letter-spacing: .2em;
}

.masonry .post {
    opacity: 0;
    filter: alpha(opacity=0);
}
.masonry.is-masonry--init .post {
    opacity: 1;
    filter: alpha(opacity=100);
}
.masonry.is-masonry--init .post {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.menu-nav>ul>li+li {
    margin-top: .8em;
}
.menu-nav>ul>li>a {
    line-height: 56px;
    height: 56px;
}
.post-date {
    font-size: .9em;
}
.article h2 {
    font-size: 1.6em;
}
}

@media(min-width:1040px) {
    /*! Wider than 1500px */}
@media(min-width: 1184px) {
    /*! Wider than 1500px */
.header>.container, .menu-header>.container {
    height: 120px;
    padding-left: 40px;
    padding-right: 40px;
}
.header>.container>.inner, .menu-header>.container>.inner {
    height: 120px;
}
.header-nav>ul>li+li {
    margin-left: 2.5em;
}
.menu-toggle {
    right: 24px;
}
#image-clipper {
    top: 120px;
}
.content {
    padding: 120px 0 0;
}
body.page-template-page-contact .content, body.error404 .content {
    padding: 0;
}
.container {
    padding-left: 100px;
    padding-right: 100px;
}
}